.ProductDescription-m-0 {
  margin-top: 0;
}

.ProductDescription-title {
  margin-bottom: clamp(1.44rem, 1.35rem + 0.42vw, 1.69rem);
  font-weight: 400;
}

.ProductDescription-subtitle,
.ProductDescription-title {
  font-size: clamp(0.88rem, 0.83rem + 0.21vw, 1.00rem);
}

.ProductDescription-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color-alt);
  margin-bottom: clamp(0.75rem, 0.65rem + 0.52vw, 1.06rem);
}

.ProductDescription-description {
  margin-bottom: clamp(1.19rem, 1.10rem + 0.42vw, 1.44rem);
}

.ProductDescription-description,
.ProductDescription-specification {
  font-size: clamp(0.75rem, 0.71rem + 0.21vw, 0.88rem);
}

.ProductDescription-specificationsContainer {
  display: flex;
  gap: clamp(2.50rem, 2.08rem + 2.08vw, 3.75rem);
}


.ProductDescription-specification {
  margin-bottom: clamp(0.31rem, 0.25rem + 0.31vw, 0.50rem);
}

.ProductDescription-specification.title {
  color: var(--text-color-alt);
  font-weight: 700;
}